@charset "UTF-8";


.contentTitle{
    padding-top: 123px;
    font-size: 20px;
    text-align: center;
    margin: auto;
    width: 100px;
}

.contentTitle > h1 {
    border-bottom: #585858 1px solid;
    font-size: 20px;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
}


.categoryList{
    height: 23px;
    padding: 3px 0 3px;
    text-align: center;
}

.categoryList > ul > li {
    display: inline-block;
    margin: 0 30px 0;
}

.categoryList > ul > li > a {
    color: #585858;
    font-size: 18px;
}

#photoList{
    max-width: 1280px;
    margin: 30px auto;
    text-align: center;
    padding-bottom:40px;
}

.photo {
    max-width: 200px;
    max-height: 200px;
    border-radius: 10%;
    margin: 5px 5px 5px 5px;
}


@media screen and (max-width: 1099px){

}