@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.headTitle {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    margin: 0;
    font-size: 20px;
    text-align: center;
    background-color: #7788ff;
    color: white;
}

.headTitle > h1 {
    margin: 20px;
}


.headNav {
    position: fixed;
    top: 100px;
    left: 0px;
    width: 100%;
    height: 23px;
    padding: 3px 0 3px;
    background-color: #dddddd;
    text-align: center;
    padding-left: 0;
    margin: auto;
}

.headNav > li {
    display: inline-block;
    text-align: center;
    margin: 0 25px 0;
}

.headNav > li > a {
    font-weight: bold;
    color: #585858;
}

.profileMain{
    padding: 123px;
}

.contentTitle{
    font-size: 20px;
    text-align: center;
    margin: auto;
    width: 100px;
}

.contentTitle > h1 {
    border-bottom: #585858 1px solid;
    font-size: 20px;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
}


.profileDetail {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.profileIcon {
    margin: auto 30px;
}


.profileIconImg {
    border-radius: 50%;
    border: #585858 2px solid;
}

.about {
    margin-bottom: 30px;
}

.about > h2 {
    margin-bottom: 5px;
}

.aboutDetal{
    margin-top: 5px;
    padding: 0 0 0 20px;
}

/* skillList */

.skill > h2 {
    margin-bottom: 5px;
}

.skill > h3 {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 20px;
}

.skillList {
    margin-top: 0px;
    margin-bottom: 5px;
    padding-left: 40px;
}

.skillList > li {
    display: inline-block;
    /* text-align: center; */
}

.skillList > li:not(:last-child)::after {
    content: ' /';
}

/* skillList */


.copyright {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 65px;
    background-color: #7788ff;
    font-size: 20px;
    text-align: center;
    color: white;
}
.copyright > p {
    vertical-align: middle;
}


@media screen and (max-width: 1099px){

    .headNav > li {
        display: inline-block;
        text-align: center;
        margin: 0 2.2% 0;
    }
    
    .profileDetail {
        display: block;
        width: 95%;
        margin:auto;
    }
    
    .profileIcon {
        margin-left:auto;
        margin-right:auto;
    }

    .profileIcon > p {
        text-align: center;
    }
        
}