<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>jp_x64's portfolio</title>
    <link rel="shortcut icon" href="favicon.jpg">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/photo.css">
    <link rel="stylesheet" href="./lightbox/css/lightbox.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body>
    <header>
        <div class="headTitle">
            <h1>jp_x64's portfolio</h1>
        </div>
        <nav>
            <ul class="headNav">
                <li><a href="./index.html">PROFILE</a></li>
                <li><a href="./photo.html">PHOTO</a></li>
            </ul>
        </nav>
    </header>
    <main>
    <div id="photoApp">
        <div class="contentTitle">
            <h1>photo</h1>
        </div>
        <!-- <div class="categoryList">
            <ul>
                <li v-for="item in tags">
                    <label>
                        <input type="checkbox" value="item.word" v-model="item.checked">
                        <span>{{item.word}}</span>
                    </label>
                </li>
            </ul>
        </div> -->
        <div id="photoList">
                <a v-for="photograph in photos" class="photo" v-bind:href="photograph.file" data-lightbox="photolist"><img class="photo" v-bind:src="photograph.thumb"></a>
        </div>
    </div>
    <script>
            new Vue({
                el:photoApp,
                data:{
                    photos:[
                    {thumb:'./img/photo/thumb/5D2_0003209.png',file:'./img/photo/5D2_0003209.png',tag:'other'},
                    {thumb:'./img/photo/thumb/5D2_0003608.png',file:'./img/photo/5D2_0003608.png',tag:'other'},
                    {thumb:'./img/photo/thumb/5D2_0015233.png',file:'./img/photo/5D2_0015233.png',tag:'other'},
                    {thumb:'./img/photo/thumb/5D2_0019546.png',file:'./img/photo/5D2_0019546.png',tag:'other'},
                    {thumb:'./img/photo/thumb/5D2_0020979.png',file:'./img/photo/5D2_0020979.png',tag:'other'},
                    {thumb:'./img/photo/thumb/5D2_0021227.png',file:'./img/photo/5D2_0021227.png',tag:'other'},
                    {thumb:'./img/photo/thumb/5D2_0022643.png',file:'./img/photo/5D2_0022643.png',tag:'other'},
                    {thumb:'./img/photo/thumb/5D2_0023373.png',file:'./img/photo/5D2_0023373.png',tag:'other'},
                    {thumb:'./img/photo/thumb/5D2_0024796.png',file:'./img/photo/5D2_0024796.png',tag:'other'},
                    {thumb:'./img/photo/thumb/5D2_0034172.png',file:'./img/photo/5D2_0034172.png',tag:'other'},
                    {thumb:'./img/photo/thumb/5D2_0035436.png',file:'./img/photo/5D2_0035436.png',tag:'other'},
                    {thumb:'./img/photo/thumb/5D2_0035460.png',file:'./img/photo/5D2_0035460.png',tag:'other'},
                    {thumb:'./img/photo/thumb/5D2_0039657.png',file:'./img/photo/5D2_0039657.png',tag:'other'},
                    {thumb:'./img/photo/thumb/5D2_0039908.png',file:'./img/photo/5D2_0039908.png',tag:'other'},
                    {thumb:'./img/photo/thumb/5D2_0040247.png',file:'./img/photo/5D2_0040247.png',tag:'other'},
                    {thumb:'./img/photo/thumb/5D2_0040249.png',file:'./img/photo/5D2_0040249.png',tag:'other'},
                    {thumb:'./img/photo/thumb/5D2_0040550.png',file:'./img/photo/5D2_0040550.png',tag:'other'},
                    {thumb:'./img/photo/thumb/5D2_0046000.png',file:'./img/photo/5D2_0046000.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0002638.png',file:'./img/photo/D800E_0002638.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0004530.png',file:'./img/photo/D800E_0004530.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0004861.png',file:'./img/photo/D800E_0004861.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0005301.png',file:'./img/photo/D800E_0005301.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0005387.png',file:'./img/photo/D800E_0005387.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0005577.png',file:'./img/photo/D800E_0005577.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0005631.png',file:'./img/photo/D800E_0005631.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0005759.png',file:'./img/photo/D800E_0005759.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0011661.png',file:'./img/photo/D800E_0011661.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0011862.png',file:'./img/photo/D800E_0011862.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0012113.png',file:'./img/photo/D800E_0012113.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0012118.png',file:'./img/photo/D800E_0012118.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0012125.png',file:'./img/photo/D800E_0012125.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0012186.png',file:'./img/photo/D800E_0012186.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0012204.png',file:'./img/photo/D800E_0012204.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0012224.png',file:'./img/photo/D800E_0012224.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0020715.png',file:'./img/photo/D800E_0020715.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0021123.png',file:'./img/photo/D800E_0021123.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0022184.png',file:'./img/photo/D800E_0022184.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0022351.png',file:'./img/photo/D800E_0022351.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0022383.png',file:'./img/photo/D800E_0022383.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0022438.png',file:'./img/photo/D800E_0022438.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0022473.png',file:'./img/photo/D800E_0022473.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0022509.png',file:'./img/photo/D800E_0022509.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0022989.png',file:'./img/photo/D800E_0022989.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0024166.png',file:'./img/photo/D800E_0024166.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0024820.png',file:'./img/photo/D800E_0024820.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0024922.png',file:'./img/photo/D800E_0024922.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0025416.png',file:'./img/photo/D800E_0025416.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0025452.png',file:'./img/photo/D800E_0025452.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0025804.png',file:'./img/photo/D800E_0025804.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0025982.png',file:'./img/photo/D800E_0025982.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0025993.png',file:'./img/photo/D800E_0025993.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0026023.png',file:'./img/photo/D800E_0026023.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0026326.png',file:'./img/photo/D800E_0026326.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0026668.png',file:'./img/photo/D800E_0026668.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0026975.png',file:'./img/photo/D800E_0026975.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0027848.png',file:'./img/photo/D800E_0027848.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0028393.png',file:'./img/photo/D800E_0028393.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0029074.png',file:'./img/photo/D800E_0029074.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0029120.png',file:'./img/photo/D800E_0029120.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0029537.png',file:'./img/photo/D800E_0029537.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0029937.png',file:'./img/photo/D800E_0029937.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0029965.png',file:'./img/photo/D800E_0029965.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0030611.png',file:'./img/photo/D800E_0030611.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0030821.png',file:'./img/photo/D800E_0030821.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0031010.png',file:'./img/photo/D800E_0031010.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0031018.png',file:'./img/photo/D800E_0031018.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0031637.png',file:'./img/photo/D800E_0031637.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0031731.png',file:'./img/photo/D800E_0031731.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0031754.png',file:'./img/photo/D800E_0031754.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0032683.png',file:'./img/photo/D800E_0032683.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0032812.png',file:'./img/photo/D800E_0032812.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0032883.png',file:'./img/photo/D800E_0032883.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0033034.png',file:'./img/photo/D800E_0033034.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0033040.png',file:'./img/photo/D800E_0033040.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0033134.png',file:'./img/photo/D800E_0033134.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0033160.png',file:'./img/photo/D800E_0033160.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0033692.png',file:'./img/photo/D800E_0033692.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0033912.png',file:'./img/photo/D800E_0033912.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0034455.png',file:'./img/photo/D800E_0034455.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0034462.png',file:'./img/photo/D800E_0034462.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0034492.png',file:'./img/photo/D800E_0034492.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0034546.png',file:'./img/photo/D800E_0034546.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0034610.png',file:'./img/photo/D800E_0034610.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0034781.png',file:'./img/photo/D800E_0034781.png',tag:'other'},
                    {thumb:'./img/photo/thumb/D800E_0035098.png',file:'./img/photo/D800E_0035098.png',tag:'other'}
                    ],
                    tags : [
                        {checked:false,word:'touring'},
                        {checked:false,word:'shrine'},
                        {checked:false,word:'tidaland'},
                        {checked:false,word:'other'}
                    ]
                },
                computed:{
                    photoFilter: function(){
                        if(this.item.word){
                            return this.photos.filter(function(value){
                                return (value.indexOf(this.item.word) > -1);
                            }, this);
                        }else{
                            // this.findWordがからのときは、リストをそのまま残す
                            return this.photos;
                        }
                    }
                }
            })
        </script>
    </main>
    <footer>
        <div class=" copyright">
            <p>copyright @jp_x64</p>
        </div>
    </footer>
    <script src="lightbox/js/lightbox-plus-jquery.min.js"></script>
</body>

</html>